{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Paginator.Pages }}
        <div class="post-info">
            <h1>
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </h1>
            <div class="post-meta">
            {{ if .Date }}
                <time class="post-date">
                {{ .Date.Format "2006-01-02" }}
                </time>
            {{ end }}
            </div>
        </div>
        {{ partial "cover.html" . }}
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
